.addTodo {
  margin-bottom: 20px;
}

.err {
  height: 10px;
  margin-bottom: 5px;
  font-size: 9px;
  color: red;
}

.filterButtons {
  display: flex;
  justify-content: center;
}

.group {
  margin-bottom: 20px;
}