.addTask {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 12px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #2db8e2;
  }
}

.active {
  background-color: #2db8e2;
}